
    <!-- Main content -->
    <section class="content">
        <div class="error-page">
          <h2 class="headline text-warning"> 404</h2>
  
          <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Esta página no existe</h3>
  
            <p>
              Si capturaste la página desde el explorador es probable que la página que conocías ya no esta disponible,
              verifica en las opciones del menú si existe un enlace o comunicate con un administrador del sistema.
            </p>
  

          </div>
          <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
      </section>
      <!-- /.content -->